[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"mastodon.py" = "*"
"misskey.py" = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"

[scripts]
software = "python software.py"
software_names = "python software_names.py"
servers = "python servers.py"
filter = "python filter.py"
